# ignore cached py data
__pycache__

# ignore bundles gen folder
/static/gen/

# ignore my internal dependency list
dependencies.txt

# ignore webassets generated folder
/static/.webassets-cache/

# ignore vscode internal settings
/.vscode

# ignore config file
config.py

# ignore env folder
env