.home-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: rgba(78, 78, 94, 0.91);
  margin: 2px auto;
  color: aliceblue;
  padding-top: 3px;
  border-radius: 3px;
}

.home-pic {
  width: 100%;
}

.content-container {
  margin: 0 30px;
}

img {
  width: auto;
  height: 355px;
  display: block;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
}

.title-container .title {
  font-size: 25px;
}

.title-container .title-description {
  font-size: 15px;
}

.content-area {
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-area p {
  font-size: 17px;
}

@media screen and (min-width: 930px) {
  .home-container {
    flex-direction: row;
    width: 1095px;
    height: 470px;

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    padding-left: 30px;
    padding-right:20px;
    padding-top: 20px;

    border-radius: 5px;
  }

  .home-pic {
    min-width: 284px;
    max-width: 284px;

  }

  .content-container {
    margin-left: 30px;
  }

  .content-area {
    margin-top: 30px;
  }

  img {
    height: 420px;
  }

  .content-area p {
    font-size: 23px;
  }

  .title-container .title {
    font-size: 45px;
  }

  .title-container .title-description {
    font-size: 20px;
  }
}

@media screen and (max-height: 625px) {
  .home-container {
    margin: 5px auto;
    position: static;
  }
}

