{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block body %}

<div class="home-container">
  <div class="home-pic">
    <img src="/static/img/portfolio_pic.jpg" />
  </div>
  <div class="content-container">
      <div class="title-container">
          <div class="title">Software Engineer</div>
          <p class="title-description">MSSQL - .NET - ANGULAR</p>
        </div>
        <div class="content-area">
          <p>
            Within the past couple of years of my professional career, I have become infatuated with the seemingly endless posibilities of designing
            software applications.  I created this website to help centralize and document my quest in discovering and applying new technologies within the
            development industry.  Feel free to poke around on my hand-written website to see my current professional and personal skillset and I welcome
            you to contact me with any questions!
          </p>
        </div>
  </div>
  

</div>

{% endblock %}