{% extends 'layout.html' %}
{% set active_page = 'skills' %}

{% block body %}

<div class="skills-container">
  <div class="professional-title">
    <b>Professional Skills</b>
  </div>
  <div class="professional-skills">
    <div class="skill">
      <img src="../static/img/net-icon.png">
      <div class="skill-title">
        ASP.NET WEB API
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/db-icon3.png">
      <div class="skill-title">
        MSSQL
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/angular-icon.svg">
      <div class="skill-title">
        ANGULAR JS
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/net-icon.png">
      <div class="skill-title">
        ASP.NET MVC
      </div>
    </div>
  </div>
  <div class="personal-title">
    <b>Personal Skills (Self-Taught)</b>
  </div>
  <div class="personal-skills">
    <div class="skill">
      <img src="../static/img/angular-icon.svg">
      <div class="skill-title">
        ANGULAR 7
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/node-icon.png">
      <div class="skill-title">
        NODE JS
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/py-icon.png">
      <div class="skill-title">
        PYTHON
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/flask-icon.png">
      <div class="skill-title">
        FLASK
      </div>
    </div>
    <div class="skill">
      <img src="../static/img/javascript-icon.png">
      <div class="skill-title">
        JAVASCRIPT
      </div>
    </div>
  </div>
</div>

{% endblock %}